@import url('https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap');

.title-card{

    font-family: 'Monda', sans-serif;
    margin: 20px 0 50px 0;

    .title-name{
        font-size: 6rem;
        // margin: 20px 0 20px 0;
    }

    .caption{
        font-size: 2rem;
    }

    @media screen and (max-width:767.98px){

        margin: 0;

        .title-name{
            font-size: 3rem;
        }

        .caption{
            font-size: 1.2rem;
        }

        .lastName{
            display: none;
        }
    }
}