@import url('https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap');

.title-card{
    font-family: 'Monda', sans-serif;

    .title-name{
        font-size: 6rem;
    }

    .custom-hr{
        width: 50%;
        color: black;
    }
}