@import url('https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap');

// This scss file does not use bootstrap mixins for different screen sizes

.title-card{

    font-family: 'Monda', sans-serif;
    margin: 20px 0 50px 0;

    .title-name{
        font-size: 6rem;
        // margin: 20px 0 20px 0;
    }

    .caption{
        font-size: 2rem;
    }

    @media (max-width:575.98px){

        margin: 0;

        .title-name{
            padding: 10px;
            font-size: 3rem;

            .lastName{
                display: none;
            }
        }

        .caption{
            font-size: 1.2rem;
        }

        
    }
 
    @media (min-width:576px) and (max-width: 767.98px){
        padding: 10px;

        .title-name{
            font-size: 3rem;

        }

        .caption{
            font-size: 1.2rem;
        }
    }
}