// @import "../../../node_modules/bootstrap/scss/mixins"
@import "../../../node_modules/bootstrap//scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.skill-set{
    margin-top: 2rem;
    // display: flex;
    font-size: 7rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    svg{
        margin: 0 20px 0 20px;
        display: inline-block;
    }

    @include media-breakpoint-between(xs,sm){
        padding: 10px;
        // margin: 20px 0 20px 0;
        font-size: 4rem;
        // overflow-x: scroll;

        svg{
            margin: 10px 5px 0 10px;
        }
    }

}